/*通用*/
*{
	padding: 0;
	margin: 0;
	color: black;
}
html{
	/*overflow-x: hidden;*/
}
body{
	background-color: rgba(0,160,232,0.3);
}
a{
	text-decoration: none;
	font-size: 15px;
}
li{
	list-style-type: none;
}





/*顶部*/
#header{
	width: 100%;
	height: 30px;
	background: rgba(0,160,232,0.5);
}
#header .header-top{
	width: 1200px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
}
#header .header-top .left{
	width: 800px;
	height: 30px;
	float: left;
}
#header .header-top .left a,span{
	float: left;
}
#header .header-top a:hover{
	color:#F94A14;
}
#header .header-top .right{
	width: 400px;
	height: 30px;
	float: right;
}
#header .header-top .right a{
	float: left;
	margin-left: 40px;
}
#header-content{
	background-color: white;
}
#header .header-content{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	background-color: white;
}
.gd{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
}
#header .header-content .logo{
	width: 150px;
	height: 150px;
	float: left;
}
#header .header-content .logo img{
	width: 150px;
	height: 150px;
}
#header .header-content .search{
	width: 500px;
	height: 150px;
	float: left;
	margin-left: 150px;
}
#header .header-content .search [type='search']{
	width: 400px;
	height: 30px;
	margin: 50px 0;
	border: 1px solid beige;
	box-shadow:0 0 10px rgba(0, 204, 204, 0.5); 
	color:cornflowerblue;
}
#header .header-content .search [type='submit']{
	width: 100px;
	height: 30px;
	box-shadow:0 0 10px rgba(0, 204, 204, 0.5); 
	background: #7FCFF3;
	border: 2px dashed aliceblue;
	border-radius: 3px;
	margin: 10px 0;
	margin-left: -5px;
}
#header .header-content .advertising{
	width: 200px;
	height: 150px;
	line-height: 120px;
	float: left;
	margin-left: 100px;
	text-align: center;
	background: -webkit-linear-gradient(left,transparent,#7FCFF3,transparent,#7FCFF3,transparent);
	-webkit-background-clip:text;
	animation: hashi 3s linear 0s infinite;
}
@keyframes hashi{
	0%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}
#header .header-content .advertising h2{
	color: transparent;
}





/*内容*/
#content{
	width: 1200px;
	height: 500px;
	margin: 0 auto;
	margin-top: 160px;
	position: relative;
}
#content .content-mid-fill{
	width: 100%;
	height: 500px;
	float: left;
}
#content .content-mid{
	float: left;
	width: 700px;
	padding: 0 200px 0 300px;
}
#content .content-mid .content-mid-figure{
	width: 700px;
	height: 500px;
	position: relative;
}
#content .content-mid .content-mid-figure .figure{
	width: 700px;
	height: 500px;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
#content .content-mid ul{
	position: absolute;
	left: 580px;
	bottom: 0;
}
#content .content-mid ul li{
	display: block;
	width: 20px;
	height: 20px;
	background-color: black;
	float: left;
	border-radius: 50%;
	margin: 0 10px;
	opacity: 0.7;
}
#content .content-left{
	width: 300px;
	height: 500px;
	float: left;
	margin-left: -100%;
	background-color: yellow;
	position: relative;
}
#content .content-left ul li{
	background: url(../img/shopleft.jpg) no-repeat;
	height: 20px;
	margin-top: 23px;
	text-align: center;
	line-height: 20px;
	margin-left: 50px;
}
#content .content-left ul li:hover{
	cursor: pointer;
}
#content .content-left .dp-none{
	width: 640px;
	height: 440px;
	padding: 30px;
	position: absolute;
	background-color: #F3F31D;
	top: 0;
	left: 300px;
	display: none;
}
#content .content-left .dp-none .dp-none-ico{
	width: 640px;
	height: 135px;
	margin-bottom: 20px;
	overflow: hidden;
}
#content .content-left .dp-none .dp-none-ico p a{
	margin: 6px 10px;
	display: inline-block;
	white-space: nowrap;
} 
#content .content-left .dp-none .dp-none-ico p a.hot{
	color: red;
}
#content .content-left .dp-none .dp-none-ico p a:hover{
	color:hotpink;
}
#content .content-right{
	width: 200px;
	height: 500px;
	float: left;
	margin-left: -200px;
	background-color: white;
}
#content .content-right .news{
	width: 200px;
	height: 300px;
	/*border: 1px solid #6495ED;*/
	position: relative;
}
#content .content-right .news ul li{
	width: 50%;
	height: 30px;
	float: left;
	outline: 1px solid #6495ED;
	text-align: center;
	line-height: 30px;
	color:white;
	background-color: #7FCFF3;
}
#content .content-right .news ul li:hover{
	cursor: pointer;
}
#content .content-right .news ul li.ch{
	color: darkorange;
	background-color: #F0F8FF;
}
#content .content-right .news .news-div{
	background-color: #F0F8FF;
	width: 200px;
	height: 268px;
	margin-top: 32px;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
#content .content-right .news .news-div a{
	color: darkorange;
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
	display: block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	/*outline: 1px solid red;*/
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
#content .content-right .fly{
	width: 200px;
	height: 198px;
	position: relative;
	overflow: hidden;
}
#content .content-right .fly .fly-pic{
	width: 200px;
	height: 396px;
	position: absolute;
	top: 0;
	left: 0;
}
#content .content-right .fly img{
	width: 200px;
	height: 200px;
	float: left;
}




/*隔断*/
#geduan{
	width: 1200px;
	height: 70px;
	background-color:pink;
	margin: 20px auto;
}
#geduan img.left{
	width: 70px;
	height: 70px;
	float: left;
}
#geduan img.right{
	width: 70px;
	height: 70px;
	float: right;
}
#geduan span{
	line-height: 70px;
	margin-left: 36%;
	color: white;
}





/*商品展示*/
.shop-ad {
	width: 1200px;
	height: 700px;
	margin: 30px auto;
	background-color: white;
}
.shop-ad .shop-ad-top img{
	width: 50px;
	height: 50px;
	margin-left: 48%;
}
.shop-ad .shop-ad-top h3{
	text-align: center;
	line-height: 25px;	
	position: relative;
}
.shop-ad .shop-ad-top h3:before,h3:after{
	content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 52%;
   	background: gray;       /*宽和高做出来的背景横线*/
    width: 30%;
    height: 2px;
}
.shop-ad .shop-ad-top h3:before{
	left: 0;
}
.shop-ad .shop-ad-top h3:after{
	right: 0;
}
.shop-ad .shop-ad-btm .shop-pro{
	width: 200px;
	height: 270px;
	float: left;
	outline: 2px solid darkgray;
	margin: 10px 20px;
	text-align: center;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.shop-ad .shop-ad-btm .shop-pro:hover{
	box-shadow: 0px 0px 30px 5px #F3F31D;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.shop-ad .shop-ad-btm .shop-pro h4{
	color: rgba(100,149,237,0.6);
	margin: 5px;
}
.shop-ad .shop-ad-btm .shop-pro h4:last-child{
	color: red;
}
.shop-ad .shop-ad-btm img{
	width: 200px;
	height: 200px;
}




/*尾部*/
#footer{
	width: 100%;
	height: 300px;
	background: url(../img/footer.jpg) no-repeat;
	background-size: 100% 100%;
}


/*到顶部*/
#top{
	width: 60px;
	height: 60px;
	position: fixed;
	top: 650px;
	right: 60px;
	border: 2px solid white;
	background: url(../img/zhuqingting.jpg) no-repeat;
	background-size: 100% 100%;
	box-shadow: 0px 0px 6px 3px coral;
}

